.row
  .col-12.text-center
    %h1= "\##{@article.id}"
.row
  .offset-3.col-6
    %strong= "Title"
    %p= @article.title
.row
  .offset-3.col-6
    %strong= "Text"
    %p= @article.text
.row
  .offset-4.col-4
    = link_to 'Return to List', articles_path, class: "btn btn-warning btn-block"